body{
    font-family: 'Lato', sans-serif;
    background-color: lightgrey;
}

.boxes{
    width: 30em;
    margin: .5em;
    padding: .5em;
    border: cornflowerblue solid;
    border-radius: 5px;
    display: block;

}
#box1{
    background-color: darkgreen;
}

#box2{
    background-color: darksalmon;
}

#box3{
    background-color: deeppink;
}

#box4{
    background-color: gold;
}

.pix{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: turquoise;
    position: absolute;
    left: 10em;
}

h2, p, .readme-wrapper{
    text-align: center;
}

h1{
    color: rgb(20, 68, 224);
}

.original{
    color: tomato;
}

.additional{
    color: maroon;
}

a{
    text-decoration-line: none;
    color: lime;
}
a:hover{
    cursor: pointer;
    font-weight: bold;
    color: red;
}
.span1{
    color: magenta;
}

.span2{
    color: orange;
}

.span3{
    color: wheat;

.span4{
    color: blueviolet;
}